# Checkpoint 0

These exercises are a mix of Python and Pandas practice. Most should be no more than a few lines of code!

In [39]:
# here is a Python list:

a = [1, 2, 3, 4, 5, 6]

In [40]:
# get a list containing the last 3 elements of a
# Yes, you can just type out [4, 5, 6] but we really want to see you demonstrate you know how to use list slicing in Python
a[-3:]

[4, 5, 6]

In [41]:
# create a list of numbers from 1 to 20
numlist = list(range(1,21))
numlist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [42]:
# now get a list with only the even numbers between 1 and 100
# you may or may not make use of the list you made in the last cell
evenlist = list(range(2,101,2))
evenlist

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [43]:
# write a function that takes two numbers as arguments
# and returns the first number divided by the second
def div(first, second):
    return first/second

In [44]:
# write a function that takes a string as input
# and return that string in all caps
def caps(stri):
    return stri.upper()

In [45]:
# fizzbuzz
# you will need to use both iteration and control flow 
# go through all numbers from 1 to 30 in order
# if the number is a multiple of 3, print fizz
# if the number is a multiple of 5, print buzz
# if the number is a multiple of 3 and 5, print fizzbuzz and NOTHING ELSE
# if the number is neither a multiple of 3 nor a multiple of 5, print the number
for i in range(1,30):
    if i % 3 == 0:
        print(f"fizz")
    elif i % 5 == 0:
        print(f"buzz")
    elif i % 3 == 0 and i % 5 == 0:
        print(f"fizzbuzz")
    else:
        print(f"{i}")

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29

In [46]:
# create a dictionary that reflects the following menu pricing (taken from Ahmo's)
# Gyro: $9 
# Burger: $9
# Greek Salad: $8
# Philly Steak: $10
menudict = {"Gyro" : 9, 
            "Burger" : 9,
            "Greek Salad" : 8,
            "Philly Steak"  : 19}

In [47]:
# load in the "starbucks.csv" dataset
# refer to how we read the cereal.csv dataset in the tutorial
import pandas as pd
df = pd.read_csv("../data/starbucks.csv")
df

,beverage_category,beverage,beverage_prep,calories,total fat,trans fat,saturated fat,sodium,total carbohydrates,cholesterol,dietary fibre,sugars,protein,vitamin a,vitamin c,calcium,iron,caffeine
0,coffee,brewed coffee,Short,3,0.1,0.0,0.0,0,5,0,0,0,0.3,0,0,0,0.0,175.0
1,coffee,brewed coffee,Tall,4,0.1,0.0,0.0,0,10,0,0,0,0.5,0,0,0,0.0,260.0
2,coffee,brewed coffee,Grande,5,0.1,0.0,0.0,0,10,0,0,0,1.0,0,0,0,0.0,330.0
3,coffee,brewed coffee,Venti,5,0.1,0.0,0.0,0,10,0,0,0,1.0,0,0,2,0.0,410.0
4,classic espresso drinks,caff latte,Short Nonfat Milk,70,0.1,0.1,0.0,5,75,10,0,9,6.0,10,0,20,0.0,75.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237,frappuccino blended crme,strawberries crme (without whipped cream),Soymilk,320,3.2,0.4,0.0,0,250,67,1,64,5.0,6,8,20,10.0,0.0
238,frappuccino blended crme,vanilla bean (without whipped cream),Tall Nonfat Milk,170,0.1,0.1,0.0,0,160,39,0,38,4.0,6,0,10,0.0,0.0
239,frappuccino blended crme,vanilla bean (without whipped cream),Whole Milk,200,3.5,2.0,0.1,10,160,39,0,38,3.0,6,0,10,0.0,0.0
240,frappuccino blended crme,vanilla bean (without whipped cream),Soymilk,180,1.5,0.2,0.0,0,160,37,1,35,3.0,4,0,10,6.0,0.0
241,frappuccino blended crme,vanilla bean (without whipped cream),Grande Nonfat Milk,240,0.1,0.1,0.0,5,230,56,0,55,5.0,8,0,15,0.0,0.0

In [48]:
# output the calories, sugars, and protein columns only of every 40th row. 
df_ = df.loc[:][["calories","sugars","protein"]]
df_[::40]
# df_ = df.set_index()
# df_= df["calories", "sugars", "protein"]
# df_

     calories  sugars  protein
0           3       0      0.3
40          5       0      0.4
80        350      58     15.0
120       140      20      6.0
160       110      24      2.0
200       200      41      3.0
240       180      35      3.0

In [49]:
# select all rows with more than and including 400 calories
df400 = df["calories"] >= 400
df400

0      False
1      False
2      False
3      False
4      False
       ...
237    False
238    False
239    False
240    False
241    False
Name: calories, Length: 242, dtype: bool

In [50]:
# select all rows whose vitamin c content is higher than the iron content
dfhigher = df["calories"] > df["iron"]
dfhigher

0      True
1      True
2      True
3      True
4      True
       ...
237    True
238    True
239    True
240    True
241    True
Length: 242, dtype: bool

In [51]:
# create a new column containing the caffeine per calories of each drink
df["cafpercalorie"] = df["caffeine"]/df["calories"]
df["cafpercalorie"]

0      58.333333
1      65.000000
2      66.000000
3      82.000000
4       1.071429
         ...
237     0.000000
238     0.000000
239     0.000000
240     0.000000
241     0.000000
Name: cafpercalorie, Length: 242, dtype: float64

In [52]:
# what is the average calorie across all items?
df["calories"].mean()

193.87190082644628

In [53]:
# how many different categories of beverages are there?

stri = df["beverage_category"].unique()
unique = df["beverage_category"].nunique()
print(f"The different categories of beverages : {stri}.")
print(f" There are {unique} different categories of beverages.")

The different categories of beverages : ['coffee' 'classic espresso drinks' 'signature espresso drinks'
 'tazo tea drinks' 'shaken iced beverages' 'smoothies'
 'frappuccino blended coffee' 'frappuccino light blended coffee'
 'frappuccino blended crme'].
 There are 9 different categories of beverages.

In [54]:
# what is the average # calories for each beverage category?
dfvc = df.groupby("beverage_category")
dfvc["calories"].mean()

beverage_category
classic espresso drinks             140.172414
coffee                                4.250000
frappuccino blended coffee          276.944444
frappuccino blended crme            233.076923
frappuccino light blended coffee    162.500000
shaken iced beverages               114.444444
signature espresso drinks           250.000000
smoothies                           282.222222
tazo tea drinks                     177.307692
Name: calories, dtype: float64